:root {
    --main-blue-color: #395587;
    --main-orange-color: #eb8242;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: black;
}

header,
.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    flex-direction: column;
    position: relative;
}

.header-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.header-logo img {
    width: 7rem;
}

.form {
    margin-bottom: 5rem;
}

form input {
    padding: 1rem;
    border: none;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 3px;
    background: #fff;
    min-width: 25%;
}

form input:focus {
    outline: none;
}

.img-container img {
    width: 100%;
}

.img-container {
    position: absolute;
}

.img-container--1 {
    top: 90%;
    right: 13%;
    width: 12%;
}

.img-container--2 {
    top: 180%;
    left: 10%;
    width: 17%;
}

.img-container--3 {
    top: 50%;
    left: 25%;
    width: 7%;
}

/* TODO ITEM */
form button {
    padding: 1rem;
    border: none;
    font-size: 2rem;
}

.btn {
    color: #fff;
    background-color: var(--main-orange-color);
    border: none;
    padding: 1.2rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn-complete {
    background-color: var(--main-blue-color);
}

.icon {
    pointer-events: none;
    font-size: 1.5rem;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.todo-list {
    min-width: 25%;
    list-style: none;
}

.todo {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: .5rem;
    transition: all .5s ease;
    border: 1px solid black;
    border-radius: 3px;
}

.todo li {
    flex: 1;
    padding: 0 .5rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid black;
    color: black;
    width: 15rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

.select::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "\25BC";
    padding: 1.2rem;
    background-color: black;
    color: white;
    pointer-events: none;
    transition: all .4s ease;
}

.copyright {
    position: relative;
    margin: 5rem 0 2rem 0;
    bottom: 0;
    text-align: center;
    color: black;
}

.copyright-link {
    color: black;
    text-decoration: none;
}

/* TRANSITION */
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0 !important;
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

/* TEXT */
.header-title {
    display: flex;
    align-items: center;
    font-family: 'Notable', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0;
}

.header-date {
    font-size: 1.7rem;
}

.header-textBox {
    margin-top: 7rem;
    text-align: center;
}

.header-textBox h1 {
    font-family: 'Notable', sans-serif;
    font-size: 8rem;
    margin-bottom: 5rem;
}

.header-textBox h2 {
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-weight: 300;
}

/* BUTTON */
button:focus {
    outline: none;
}

.btn-circle-color {
    position: relative;
    width: 7rem;
    height: 7rem;
    background-color: var(--main-orange-color);
    border-radius: 50%;
    margin: 0 auto;
}

.btn-circle,
.btn-circle:link,
.btn-circle:visited {
    position: absolute;
    top: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 2.1rem 1.5rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .3rem;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
}